@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<EshopAdminApplication.Models.Order>

<head>
    <title>All Orders</title>
</head>

<div class="container">
    <div class="row m-5">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Customer details
                    </th>
                    <th>
                        Number of products
                    </th>
                    <th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    var item = Model[i];
                    <tr>
                        <td>@(i + 1)</td>
                        <td>
                            @item.OwnerId
                        </td>

                        <td>
                            @item.ProductInOrders.Count()
                        </td>
                        <td>
                            <div class="btn-group">
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                                <a asp-action="CreateInvoice" asp-route-id="@item.Id" class="btn btn-success">Create Invoice</a>
                                    
                            </div>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>
