@model IEnumerable<EShop.Domain.Domain.Concert>

@{
    ViewData["Title"] = "Index";
}
<head>
    <title>All Concerts</title>
</head>
<body class="margin-auto">
<p>
    <a asp-action="Create">Create New</a>
</p>
    <div class="row">
        @foreach(var item in Model)
        {
            <div class="card col-3 m-2" style="width: 25rem;">
                <img src="@item.ConcertImage" class="card-img-top h-75" alt="Concert Image">
                <div class="card-body text-center">
                    <h5 class="card-title">@item.ConcertName</h5>
                    <p class="card-text">@item.ConcertDescription</p>
                    <p class="card-text">@item.Rating</p>
                    <div class="btn-group">
                        <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                        <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a> 
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
</body>
